// Common
@white: #fff;
@black: #000;
@very-dark-blue: #0b0f18;
@link-color: @very-dark-blue;
@white-red: #e68c8c;

// Header
@header-border-bottom: .1rem solid #efefef;

// Base components
// Button
@button-background-color: @very-dark-blue;
@button-color: @white;

// Hamburger
@hamburger-color: @very-dark-blue;

// Main card
@main-card-background-color: @white;
@main-card-category-color: @white;
@main-card-category-background-color: @white-red;
@main-card-date-color: rgba(@very-dark-blue, .8);
@main-card-title-short-color: @very-dark-blue;

// Home
@home-main-card-background: #aeaeae;

// Cards grid
@cards-grid-background: @white;
@cards-grid-shadow: 0 0 2rem rgba(215, 215, 215, .35);
@cards-grid-title-color: @very-dark-blue;
@cards-grid-date-color: @white-red;
@cards-grid-short-color: rgba(@very-dark-blue, .8);

@cards-grid-pagination-font-size: 1.3rem;
@cards-grid-pagination-current-font-size: 2.4rem;
@cards-grid-pagination-slash-font-size: 1.8rem;

@cards-grid-pagination-arrow-background: @white;
@cards-grid-pagination-arrow-phone-background: #eaeaea;

// Category
@category-text-color: @white;

// Popular posts
@popular-posts-title-color: @very-dark-blue;

@popular-post-color: @white;

@second-popular-post-category-background: @white;
@second-popular-post-category-color: @white-red;

@last-popular-name-color: @very-dark-blue;

// Most read posts
@most-read-posts-background: #9d9d9d;

@most-read-title-color: @white;
@most-read-post-background: @white;
@most-read-post-index-color: #f7f3f3;
@most-read-post-date-color: @white-red;
@most-read-post-category-background: @white-red;
@most-read-post-category-color: @white;
@most-read-post-name-color: @very-dark-blue;
@most-read-post-date-color: @white-red;
@most-read-post-read-more-color: @very-dark-blue;

// Dot pagination
@dot-pagination-background: @white;
@dot-pagination-active-border: .4rem solid @white-red;

// Newsletter
@newsletter-background: #f8f3f3;
@newsletter-color: @very-dark-blue;
@newsletter-line-background: @white-red;
@newsletter-description-opacity: .8;
@newsletter-input-background: @white;
@newsletter-input-color: rgba(@very-dark-blue, .5);
@newsletter-subscribe-button-background: @very-dark-blue;
@newsletter-subscribe-button-color: @white;

// Posts list
@posts-list-title-color: @white;
@posts-list-date-color: @white-red;
@posts-list-read-more-color: @white;

// Posts rollup
@posts-rollup-title-color: 1.6rem;
@posts-rollup-line-background-color: #d2d2d3;

// Post rollup
@post-rollup-name-color: @very-dark-blue;
@post-rollup-short-color: @very-dark-blue;
@post-rollup-short-opacity: .8;
@post-rollup-date-color: @white-red;
@post-rollup-bookmark-color: @very-dark-blue;

// Published trending
@published-trending-title-color: @very-dark-blue;
@published-trending-info-border-bottom: .1rem solid #eaeaea;
@published-trending-see-more-color: #fefefe;
@published-trending-see-more-background-color: @very-dark-blue;
@published-trending-pagination-active-color: @white-red;

// Published posts
@published-posts-main-item-color: @white;
@published-posts-title-color: @white;
@published-posts-date-color: @very-dark-blue;
@published-posts-content-background-color: #faf8f8;
@published-posts-category-background-color: @white-red;
@published-posts-category-color: @white;
@published-posts-bookmark-color: #797979;

// Posts slider
@posts-slider-dot-background-color: #ebd8d4;
@posts-slider-active-dot-background-color: @white-red;
@posts-slider-arrow-color: rgba(@very-dark-blue, .8);
@posts-slider-item-color: @white;

// Featured posts
@featured-posts-title-color: @very-dark-blue;

@featured-post-content-color: @very-dark-blue;
@featured-post-date-opacity: .8;

// Socials
@socials-title-color: @very-dark-blue;
@socials-border-bottom: .1rem solid #ededed;
@socials-item-color: @very-dark-blue;

// Footer
@footer-color: @very-dark-blue;
@footer-background-color: #faf5f3;

// Deals
@deals-background-color: #fefefe;
@deals-title-font-family: @dosis;
@deals-title-color: @very-dark-blue;
@deals-input-background-color: #f7ece9;
@deals-input-color: rgba(@very-dark-blue, .5);
@deals-submit-background-color: @very-dark-blue;
@deals-submit-color: @white;

// Footer columns
@footer-column-value-opacity: .8;

// Posts horizontal slider
@horizontal-slider-item-shadow: 0 0 2rem rgba(215, 215, 215, 0.35);
@horizontal-slider-date-color: @white-red;

// Category list
@category-list-title-color: #272626;
@category-list-item-color: #60646c;

// Pages
// Articles
@article-color: @very-dark-blue;
@article-background-color: #f7ece9;
@article-category-color: @white;
@article-category-background-color: @white-red;
@article-category-bookmark-color: #797979;

// Contact
@contact-line-background-color: #ececec;
@contact-form-background-color: #fafafa;
@contact-input-textarea-border: 1px solid #e6e6e6;
@contact-input-placeholder-color: #503c57;

// Address list
@address-list-content-color: @very-dark-blue;
@address-list-link-color: @white-red;

// Error
@error-color: @very-dark-blue;

// Login and register
@auth-content-color: @very-dark-blue;
@auth-line-background-color: #ececec;
@auth-form-background-color: #eae7e7;
@auth-overlay-background-color: @white;
@auth-input-border: 1px solid #e6e6e6;
@auth-input-placeholder-color: #503c57;
@auth-input-link-color: @white-red;
@auth-link-color: @very-dark-blue;

// About
@about-color: @very-dark-blue;
@about-line-background-color: #ececec;
@about-paragraph-opacity: .8;

// Single article
@single-article-color: @very-dark-blue;
@single-article-category-color: @white;
@single-article-category-background-color: @white-red;
@single-article-short-opacity: .8;
@single-article-category-bookmark-color: #797979;
