// Common
@white: #fff;
@black: #000;
@very-dark-blue: #0b0f18;
@link-color: @very-dark-blue;

// Hamburger
@hamburger-color: @very-dark-blue;

// Main card
@main-card-background-color: @white;
@main-card-category-color: @white;
@main-card-category-background-color: #e68c8c;
@main-card-date-color: rgba(@very-dark-blue, .8);
@main-card-title-short-color: @very-dark-blue;

// Home
@home-main-card-background: #aeaeae;

// Cards grid
@cards-grid-background: @white;
@cards-grid-shadow: 0 0 2rem rgba(215, 215, 215, .35);
@cards-grid-title-color: @very-dark-blue;
@cards-grid-date-color: #e68c8c;
@cards-grid-short-color: rgba(@very-dark-blue, .8);

@cards-grid-pagination-font-size: 1.2rem;
@cards-grid-pagination-current-font-size: 2.2rem;
@cards-grid-pagination-slash-font-size: 1.6rem;

@cards-grid-pagination-arrow-background: @white;
@cards-grid-pagination-arrow-phone-background: #eaeaea;

// Category
@category-text-color: @white;
