{
  "presets": [
    ["env", {
      "exclude": ["transform-regenerator"]
    }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
